@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@700&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400&display=swap');

body{
    background: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    padding-bottom: 50px;
}

.container{
    max-width: 800px;
    margin: 0 auto;
}

p{
    line-height: 1.3em;
    margin-bottom: 1.8em;
}

table, th, td {
    border-collapse: collapse;
  }

  table {
    margin-bottom: 30px;
  }
  td {
    border: 2px solid darkgray;
    padding: 5px;
    text-align: center;
    font-size: 15px;
  }

h1{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
    text-align: center;

}
h2,
h3{
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: normal;
}
h1{
    font-size:1.7em;
}
h2{
    font-size:1.4em;
}
h3{
    font-size:1.1em;
}

.skip-link {
    background: black;
    color: #fff;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
  }
  
  .skip-link:focus {
    transform: translateY(-100%);
  }
  
  .skip-link {
    /* Same as  before */
    transition: transform 0.3s;
  }

  label
   {
    display: block;
    margin-bottom: 10px;
  }


* {
  box-sizing: border-box;
}
.dropdown__title {
  background-color: transparent;
  border: none;
  font-family: inherit;
}
nav {
  background-color: lightblue;
  padding: 0 1rem;
  position: sticky;
  top: 0;
  display: grid;
  place-items: center;
}
nav > ul {
  grid-auto-flow: column;
}
nav > ul > li {
  margin: 0 0.5rem;
}
nav > ul > li a, nav > ul > li .dropdown__title {
  text-decoration: none;
  text-align: center;
  display: inline-block;
  color:black;
  font-size: 1.125rem;
}
nav > ul > li a:focus, nav > ul > li .dropdown__title:focus {
  outline: none;
}
nav > ul > li > a, nav > ul > li .dropdown__title {
  padding: 1rem 0.5rem;
  border-top: 3px solid transparent;
  transition: 280ms all 120ms ease-out;
}
nav > ul > li > a:hover, nav > ul > li .dropdown__title:hover, nav > ul > li > a:focus, nav > ul > li .dropdown__title:focus {
  border-top-color: darkcyan;
  color: darkcyan;
}
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
}
nav ul li {
  padding: 0;
}
.dropdown {
  position: relative;
}
.dropdown .dropdown__title {
  display: inline-flex;
  align-items: center;
}
.dropdown .dropdown__title:after {
  content: "";
  border: 0.35rem solid transparent;
  border-top-color: rgba(255, 255, 255, 0.45);
  margin-left: 0.25em;
  transform: translateY(0.15em);
}
.dropdown .dropdown__menu {
  position: absolute;
  min-width: 15ch;
  left: 50%;
  top: calc(100% - 0.25rem);
  transition: 280ms all 120ms ease-out;
  transform: rotateX(-90deg) translateX(-50%);
  transform-origin: top center;
  visibility: hidden;
  opacity: 0.3;
  padding: 0.5em 0;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 0.15em 0.25em rgba(0, 0, 0, 0.25);
}
.dropdown .dropdown__menu a {
  color: #47246b;
  display: block;
  padding: 0.5em;
  opacity: 0;
  transition: 280ms all 120ms ease-out;
}
.dropdown .dropdown__menu a:hover {
  background-color: rgba(102, 51, 153, 0.15);
}
.dropdown .dropdown__menu a:focus {
  outline: none;
  background-color: rgba(102, 51, 153, 0.25);
}
.dropdown:after {
  content: "";
  border: 0.5rem solid transparent;
  border-bottom-color: #fff;
  position: absolute;
  top: calc(100% - 1.25rem);
  left: 50%;
  transform: translateX(-50%);
  transition: 280ms all 120ms ease-out;
  opacity: 0;
  will-change: opacity;
}
.dropdown:hover .dropdown__title, .dropdown:focus-within .dropdown__title {
  border-top-color: darkcyan;
}
.dropdown:hover .dropdown__menu, .dropdown:focus-within .dropdown__menu {
  opacity: 1;
  transform: rotateX(0) translateX(-50%);
  visibility: visible;
}
.dropdown:hover .dropdown__menu a, .dropdown:focus-within .dropdown__menu a {
  opacity: 1;
}
.dropdown:hover:after, .dropdown:focus-within:after {
  opacity: 1;
}

.sr-only {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  
  }

