@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lora:ital,wght@0,400..700;1,400..700&family=Outfit:wght@100..900&family=Quicksand:wght@300..700&family=Young+Serif&display=swap');

body{
    margin: 0;
    font-family: "Outfit", sans-serif;

}
.header{
    background-color: black;
    padding: 30px;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
            "header nav"

}
main{
    margin-top: 50px;
}

.img{
    width: 90%;
    display: block;
    margin: auto;
    border-radius: 15px;
}

#lab-links{
    text-align: right;
}
nav ul {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding: 0; 
    margin: 0; 
    }
    
    nav ul li {
      list-style: none;
      padding:none;
      font-size: 20px;
      font-weight: 300;
    }

    nav ul li a{
        text-decoration: none;
        color: white;
    }


    .container{
        max-width: 900px;
        margin: 0 auto;
        padding-left: 30px;
        padding-right: 30px;
    }
    h1{
        text-align: center;
        margin: 0;
        font-weight: 600;
        letter-spacing: 1px;
        font-size: 28px;
        text-align: left;
    }
    h2{
        font-size:25px;
        text-align: center;
    }
    h3{
        font-size:1.1em;
        text-align: center;
        margin-top: 50px;
    }
    p{
        line-height: 1.3em;
        font-size: 18px;
    }

    .about-me {
        margin-top: 20px;
        margin-bottom: 50px;
        display: grid;
        
        grid-template-columns: 1.25fr 0.75fr;
        grid-template-areas:
            "header header"
            "aside1 aside2";
    }
    
    header {
        grid-area: header;
    }
    

    

    
    #aside2 {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: center; 
        height: 100%; 
        text-align: center;
    }
    
    #aside2 .img {
        max-width: 100%;
        display: block;
    }

    footer{
        text-align: center;
        padding: 15px;
        background-color: rgba(187, 196, 228, 0.781);
        font-weight: 400;
    
    }
    


    .sr-only {
        border: 0;
        clip: rect(0, 0, 0, 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        white-space: nowrap;
        width: 1px;
      
      }

.skip-link {
    background: black;
    color: #fff;
    font-weight: 700;
    padding: 4px;
    position: absolute;
    transform: translateY(-200%);
    margin-top: 20px;
    margin-left: 20px;
    }
      
.skip-link:focus {
    transform: translateY(-100%);
}
      
.skip-link {
    transition: transform 0.3s;
}

@media screen
  and (min-width: 641px)
  and (max-width: 900px)  {
    .about-me {
        grid-template-columns:
           1fr;
        grid-template-areas:
          "header"
          "aside1"
          "aside2";
        
        }
        #aside2 .img {
            max-width: 40%;
        }
       
}



@media screen
  and (max-width: 640px)  {
.about-me {
grid-template-columns:
   1fr;
grid-template-areas:
  "header"
  "aside1"
  "aside2";

}
.header{
    grid-template-columns: 1fr;
    grid-template-areas:
            "header" 
            "nav";
}
.header h1{
    text-align: center;
}

.header nav ul{
    flex-flow: column nowrap;
    text-align: center;
}
.header nav ul li a {
  display: block;
  padding: 10px 5px;
  margin: 5px;
  border: 1px black solid;
  background-color: rgba(187, 196, 228);
  color: black;
}
#aside2 .img {
    max-width: 60%;
}
}


